{% extends "base.html" %}

{% block content %}
    <h2>Tasks</h2>
    <ul>
        {% for task in task_list %}
            <li {% if task.done %}
                class="text-success"
                {% endif %}
            >
                <span>{{ task.text }}</span>
                <button
                    hx-patch="/gtd/{{ task.id }}"
                    name="done"
                    value="{{ task.done }}"
                >Done</button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}