<div class="row">
    <div class="col-4 menu-link">
        {% if task_list %}
            <a class="nav-link" href="{% url 'gtd:rep-tasks' %}">Rep Tasks</a>
        {% else %}
            <a class="nav-link" href="{% url 'gtd:tasks' %}">Tasks</a>
        {% endif %}
    </div>
    <div class="col-4 menu-link">
        <a class="nav-link" href="#">Inbox</a>
    </div>
    <div class="col-4 menu-link">
        <a class="nav-link" href="#" role="button">
            Coin
        </a>
    </div>
</div>